.city {
    color: #333;
    font-size: 24px;
}

.info {
    display: flex;
    justify-content: space-between;
}

.pollution,
.weather {
    flex: 1;
}

    .pollution h3,
    .weather h3 {
        color: #666;
    }

    .pollution p,
    .weather p {
        margin: 5px 0;
        color: #444;
    }

.no-data {
    color: #f00;
}
.state-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.state-button:hover {
        background-color: #0056b3;
}

.state-button:focus {
        outline: none;
}

.states-and-cities-container {
    display: flex;
    justify-content: space-around;
}

.states-container {
    flex: 1;
    width: 40%;
}

.cities-container {
    flex: 1;
    width: 40%;
}

.disabled-button {
    background-color: #ccc; /* Grey background color */
    color: #666; /* Darker grey text color */
    cursor: not-allowed; /* Show disabled cursor */
}

.city-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}