.navbar {
    background-color: #fff; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size:1.3rem;
    height:auto;
}

.navbar-nav {
    margin-right: auto;
}

.navbar-nav .nav-item {
    margin-right: 10px;
}

.navbar-brand {
    display: flex;
    align-items: center; 
    white-space: normal;
    text-align: left;
    word-break: break-all;
    margin-right:50px;
}

.logo-img {
    width: 100px; 
    height: auto; 
}

html {
    font-size: 15px;
}

@media (min-width: 768px) {
    html {
        font-size: 20px;
    }
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}
