/* news.css */
.news-container {
    max-width: 120%;
    margin: 0 auto;
    padding: 20px;
}

.page-container {
    background-color: #f8f8f8;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%; 
    max-width: 1500px;
    margin: 0 auto; 
    overflow: hidden;
    box-sizing: border-box;
}

.article {
    display: flex;
    margin-bottom: 50px;
}

.article img {
        width: 300px;
        height: auto;
        margin-right: 20px;
}

.article-content h2 {
    margin-top: 0;
}

.article-content a {
    display: block;
    color: blue;
    text-decoration: none;
    font-weight: bold;
}

