.shop-header {
    text-align: center;
}

.header-whole {
    background-color: #f8f8f8;
    width: 150%;
}

.shop-frame {
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f8f8f8;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.shop-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-container {
    position: relative;
    background-color: #e2fcbb;
    width: calc(33.33% - 40px);
    margin: 20px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    transition: background-color 0.3s, box-shadow 0.3s; 
}

    .product-container:hover {
        background-color: rgba(0, 0, 0, 0.2); 
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
    }

.product-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.product-image {
    width: 100%;
    height: auto;
    max-height: 300px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    transition: filter 0.3s; 
}

.product-container:hover .product-image {
    filter: grayscale(100%); 
}

.product-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.product-name {
    margin: 0;
    padding: 5px;
}

.product-description {
    margin: 0;
    padding: 5px;
}

.product-price {
    margin: 0;
    padding: 5px;
    font-size: 20px;
}

.add-to-cart-button {
    position: absolute; 
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%);
    width: 120px;
    height: 40px;
    border-radius: 10px;
    background-color: #96c0fa;
    display: none; 
    justify-content: center;
    align-items: center;
}

.product-container:hover .add-to-cart-button {
    display: flex; 
}
